.l-header{
    position: fixed;
    top: 4rem;
    transition-duration: 0.5s;
    background-blend-mode: difference;
    transition-timing-function: ease;
    opacity: 0;
    width: calc(100% - 60%);
    left: 30%;
    z-index: 10;
    --header-color: black;
    --mobile-menu-background-color: rgba(255, 255, 255, 0.95);
    @include max-xxl{
        top: 2rem;
    }
    @include max-md{
        width: calc(100% - 40%);
        left: 20%;
        top: 1rem;
    }
    &.active{
        opacity: 1;
        width: calc(100% - 8rem);
        left: 4rem;
        @include max-xxl{
            width: calc(100% - 4rem);
            left: 2rem;
        }
        @include max-md{
            width: calc(100% - 2rem);
            left: 1em;
        }
    }
    .header-link{
        font-size: 1.5rem;
        font-weight: normal;
        cursor: pointer;
        opacity: 1;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        max-width: 100%;
        white-space:nowrap;
        color: var(--header-color);
        @include max-xxl{
            font-size: 1rem;
        }
        &.hidden{
            pointer-events: none;
            opacity: 0;
            max-width: 0;
            padding: 0;
        }
    }

    .header-saparator{
        flex-grow: 1;
        opacity: 1;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        max-width: 100%;
        // padding: 0 0.75rem;
        // @include max-lg{
        //     padding: 0 0.5rem;
        // }
        .header-saparator-line{
            border-top: 1px solid var(--header-color);
            width: 100%;
        }
        &.hidden{
            flex-grow: 0;
            opacity: 0;
            max-width: 0;
            padding: 0;
        }
    }
    .desktop-group {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0rem;
        transition: 0.5s;
        @include max-md {
            display: none;
        }
        &.isLandingPage{
            justify-content: space-between;
            gap: 1.5rem;
        }
        .header-link-group{
            display: flex;
            gap: 1.5rem;
            flex-grow: 1;
            align-items: center;
            transition: 0.5s;
            transition-timing-function: ease;
            justify-content: center;
            &.isLandingPage{
                flex-grow: 0;
                gap: 0.75rem;
                justify-content: flex-end;
            }
        }
    }
    .mobile-group {
        display: none;
        @include max-md {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
        }
        .hamburger-menu {
            z-index: 101;
            cursor: pointer;
            .hamburger-icon {
                position: relative;
                width: 1.5rem;
                height: 1.5rem;
                span {
                    display: block;
                    position: absolute;
                    height: 1.5px;
                    width: 100%;
                    background: var(--header-color);
                    opacity: 1;
                    left: 0;
                    transform: rotate(0deg);
                    transition: .25s ease-in-out;
                    &:nth-child(1) {
                        top: 4px;
                    }
                    
                    &:nth-child(2) {
                        top: calc(1.5rem / 2 - 0.75px);
                    }
                    
                    &:nth-child(3) {
                        bottom: 4px;
                    }
                }
                &.open {
                    span {
                        &:nth-child(1) {
                            top: 11.5px;
                            transform: rotate(45deg);
                        }
                        
                        &:nth-child(2) {
                            opacity: 0;
                            width: 0;
                        }
                        
                        &:nth-child(3) {
                            bottom: 11.5px;
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }
    }
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--mobile-menu-background-color);
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        
        &.active {
            opacity: 1;
            visibility: visible;
        }
        
        .menu-item {
            font-size: 1.5rem;
            margin: 1.5rem 0;
            cursor: pointer;
            color: var(--header-color);
        }
    }
}

