.main-container{
    width: 100%;
    height: 100%;
    .main-section{
        .startButton{
            z-index: 10;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 200px;
            cursor: pointer;
            background-color: transparent;
            border-radius: 50%;
        }
    }
    .section{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .gap-section{
        height: 50%;
    }
    .aboutUs-section{
        height: 500%;
        background-color: rgba(#F2F2F2,0.75);
        .aboutUs-marquee{
            z-index: 10;
            width: 100%;
            background-color: #F2F2F2;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            overflow: hidden;
            position: relative;
            display: flex;
            .aboutUs-marquee-content-group,.aboutUs-marquee-content-group2{
                display: flex;
                flex-wrap: nowrap;
                padding: 1rem 0;
                width: fit-content;
                .aboutUs-marquee-content-group-item{
                    font-size: 2rem;
                    @include max-md{
                        font-size: 1.5rem;
                    }
                    @include max-sm{
                        font-size: 1rem;
                    }
                    color: black;
                    white-space: nowrap;
                    flex-shrink: 0;
                    letter-spacing: 1rem;
                    margin-right: 6rem;
                }
            }
            .aboutUs-marquee-content-group{
                animation: marquee-animation 40s linear infinite;
            }
            .aboutUs-marquee-content-group2{
                animation: marquee-animation2 40s linear infinite;
                animation-delay: -20s;
            }
        }
        @keyframes marquee-animation {
            0% {
                transform: translateX(100%);
            }
            100% {
                transform: translateX(-100%); 
            }
        }
        @keyframes marquee-animation2 {
            0% {
                transform: translateX(0%);
            }
            100% {
                transform: translateX(-200%); 
            }
        }
        .aboutUs-content-container{
            position: sticky;
            top: 0;
            overflow: hidden;
            .aboutUs-content-group{
                width: fit-content;
                margin: 0 auto;
                height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 3rem;
                --font-size: 2.5rem;
                @include max-xxl{
                    --font-size: 2rem;
                }
                @include max-lg{
                    --font-size: 1.5rem;
                }
                @include max-md{
                    gap: 2rem;
                }
                .aboutUs-section-content{
                    display: flex;
                    width: 100%;
                    gap: 1rem;
                    font-size: var(--font-size);
                    // @include max-md{
                    //     flex-direction: column;
                    //     gap: 2rem;
                    //     text-align: center;
                    // }
                    hr{
                        // flex-grow: 1;
                        width: 0;
                        margin: auto 0;
                    }
                    .service-group {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        gap: 0.5rem;
                        background-color: black;
                        height: var(--font-size);
                        width: 100%;
                        // width: calc(var(--font-size) * 6);
                        .service-group-item {
                            opacity: 0;
                            color: white;
                            display: none;
                            font-size: calc(var(--font-size) - 1rem);
                            @include max-lg{
                                font-size: calc(var(--font-size) - 0.5rem);
                            }
                            letter-spacing: 1rem;
                            margin-left: 1rem;
                            &.active {
                                opacity: 1;
                                display: inline-block;
                                animation: fadeIn 0.5s;
                            }
                        }
                        
                        @keyframes fadeIn {
                            from { opacity: 0; }
                            to { opacity: 1; }
                        }
                    }

                    &-1{
                        // margin-right: 18%;
                    }
                    &-2{
                        // @include max-md{
                        //     flex-direction: row;
                        //     gap: 1rem;
                        // }
                        // justify-content: flex-end;
                        // margin-left: 12%;
                    }
                    &-3{
                        // @include max-md{
                        //     flex-direction: column;
                        //     gap: 2rem;
                        // }
                        // margin-right: 4rem;
                    }

                    &-1-1,&-1-2,&-1-3,&-2-1,&-2-2,&-3-1,&-3-2,&-3-3 {
                        opacity: 0;
                        filter: blur(10px);
                        position: relative;
                        will-change: opacity, filter;
                        -webkit-font-smoothing: antialiased;
                        display: flex;
                        // justify-content: center;
                        white-space:nowrap;
                    }
                    &-2-2{
                        width: 0;
                        overflow: hidden;
                        filter: blur(0px);
                        opacity: 1;
                    }
                    &-3-2{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: var(--font-size);
                        .iconGroup{
                            display: flex;
                            height: calc(var(--font-size) - 1rem);
                            margin-top: 0.5rem;
                            @include max-md{
                                margin-top: 0.25rem;
                                height: calc(var(--font-size) - 0.5rem);
                            }
                            position: relative;
                            padding: 0 0.5rem;
                            span{
                                height: 100%;
                                font-size: calc(var(--font-size) - 1rem);
                                @include max-lg{
                                    font-size: calc(var(--font-size) - 0.5rem);
                                }
                                margin-right: 0.25rem;
                                letter-spacing: 1rem;
                            }
                            img{
                                height: 100%;
                            }
                        }
                        .underline{
                            width: 0;
                            height: 1px;
                            background-color: black;
                        }
                        // &:after{
                        //     content: '';
                        //     display: inline-block;
                        //     width: 0;
                        //     height: 1px;
                        //     background-color: black;
                        // }
                    }
                    .section-content-3-group{
                        display: flex;
                        gap: 1rem;
                    }
                    .section-content-1-group{
                        display: flex;
                        gap: 1rem;
                    }
                }
            }
        }
    } 

    .works-section{
        height: 500%;
        .works-content-container{
            width: 100%;
            height: 100vh;
            position: sticky;
            top: 0;
            left: 0;
            overflow: hidden;
            .works-content-group{
                width: 100%;
                height: 100%;
                perspective: 200px;
                transform-style: preserve-3d;
                .works-content-item{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 2000px;
                    height: calc(2000px * 9 / 16);
                    opacity: 0;
                    --transform-x: 0;
                    --transform-y: 0;
                    --transform-z: 0;
                    transform: translate3d(
                        calc(-50% + var(--transform-x, 0) * 1px), 
                        calc(-50% + var(--transform-y, 0) * 1px), 
                        calc(-10000px + var(--transform-z, 0) * 1px)
                    );
                    &.column{
                        width: calc(2000px * 9 / 16);
                        height: 2000px;
                    }
                    img,video{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .services-section{
        overflow: hidden;
        position: relative;
        height: 1000%;
        .services-content-container{
            padding: 0 5rem;
            height: 100%;
            width: 100%;
            position: relative;
            @include max-md{
                padding: 0 1rem;
            }
            .services-content{
                height: 10%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                padding-right: 0;
                padding-left: 50%;
                // &:nth-child(even){
                //     padding-left: 0;
                //     padding-right: 50%;
                //     align-items: flex-end;
                //     .services-description{
                //         text-align: right;
                //     }
                // }
                @include max-md{
                    padding-left: 0;
                    padding-right: 0;
                    &:nth-child(even){
                        padding-left: 0;
                        padding-right: 0;
                        align-items: start;
                        .services-description{
                            text-align: left;
                        }
                    }
                }
                .services-title{
                    font-weight: bold;
                    margin-bottom: 2rem;
                    font-size: 4rem;
                    @include max-xl{
                        font-size: 3rem;
                    }
                }
                .services-description{
                    font-size: 2rem;
                    @include max-xl{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
